.app {
  display: flex;
  flex-direction: column;

  &-content {
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    @media (max-width: 820px) {
      width: 90%;
    }
  }
}
