.bucket {
  flex: 0 0 30%;
  margin-bottom: 1.5rem;
  padding-bottom: 0.5rem;

  @media (max-width: 560px) {
    flex: 0 0 100%;
  }

  &-tags {
    margin-bottom: 0.5rem;
  }

  &-tag {
    display: inline-block;
    font-weight: 300;
  }

  &-name {
    margin-bottom: 0.3rem;
    font-weight: 500;
    font-size: 1.1rem;
    word-break: keep-all;
  }

  &-desc {
    font-weight: 400;
    font-size: 0.8rem;
    word-break: keep-all;
  }
}
