.header {
  text-align: center;
  margin: 2.2rem 0;

  &-org {
    font-size: 1.2rem;
    font-weight: 700;
  }

  &-title {
    font-family: 'Merriweather', serif;
    text-transform: uppercase;
    font-size: 3.8rem;
  }

  &-desc {
    margin-top: 0.3rem;
  }

  @media (max-width: 550px) {

    &-org {
      font-size: 1.1rem;
    }

    &-title {
      font-size: 3rem;
    }
  }

  @media (max-width: 400px) {

    &-title {
      font-size: 2.2rem;
    }
  }
}
